/* Reset */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body{
  font-family: 'Dubai-Regular', sans-serif;
}

a{
  text-decoration: none;
}

/* Utility Colors */
.primary-color{
  color: #3f3f3f;
}
.light-gray{
  color: #b2b2b2;
}
.red{
  color: #a71c24;
}


.red-box{
  background:#a71c24;
  color:#fff;
  border: none;
}
.blue{
  color: #0090ff;
}

/* Utility */
.primary-header{
  font-family: Dubai;
  font-weight: 500;
  font-size: 24px;
  padding-top:20px;
  padding-bottom:5px ;
  text-align: center;
}
.primary-text{
  font-family: Dubai;
  font-weight: 500;
  font-size: 18px;
  padding-top:15px;
  text-align: center;
}

.req::after{
  color: #e32;
  content: ' *';
}

/* Footer */
footer{
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  
  }